{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
<!-- TODO: remove and replace with a proper home page -->
<div class="card border-secondary">
    <div class="card-header">
        Links 123
    </div>
    <div class="card-body p-0 list-group">
        <a href="{{ url_for('me.me') }}" class="list-group-item list-group-item-action " >me</a>
        <a href="{{ url_for('item.item_new') }}" class="list-group-item list-group-item-action " >new item</a>
        <a href="{{ url_for('item.items') }}" class="list-group-item list-group-item-action " >items</a>
    </div>
</div>
{% endblock %}