<!-- TODO: come up with UI design and replace -->

{% extends 'base.html' %}

{% block title %} Items {% endblock %}

{% block css_styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/item/items.css') }}">
{% endblock %}

{% import 'item/macros/item_card.html' as item_card %}
{% import 'macros/pagination.html' as pagination %}

{% block content %}
    <div class="row">
        <div class="col-sm-12 col-lg-3">
            <!-- Filter & Refine Section -->
            <div id="itemsFilter" class="container text-center my-4 filter-refine">
                <h4 class="mb-4">Filter & Refine</h4>
                <div class="col justify-content-center w-100 text-start">
                    <div class="mb-3">
                        <label for="categorySelect" class="form-label">Category</label>
                        <select id="itemsFilterCategory" class="form-select">
                            <option value="" {{ "selected" if not filter.category else '' }}>All</option>
                            {% for category in categories %}
                                <option value="{{ category.id }}" {{ "selected" if category.id == filter.category else "" }}>
                                    {{ category.name }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="locationSelect" class="form-label">Location</label>
                        <select id="itemsFilterCity" class="form-select">
                            <option value="" {{ "selected" if not filter.city else '' }}>All</option>
                            {% for city in cities %}
                                <option value="{{ city.id }}" {{ "selected" if city.id == filter.city else "" }}>
                                    {{ city.name }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="priceMin" class="form-label">Price Range</label>
                        <input id="itemsFilterMinPrice" type="number" class="form-control" placeholder="$ Min" value="{{ filter.min_price }}">
                        <input id="itemsFilterMaxPrice" type="number" class="form-control mt-2" placeholder="$ Max" value="{{ filter.max_price }}">
                    </div>
                    <button id="btnApplyFilter" class="btn btn-primary mt-2 end-0 w-100" type="button">
                        Apply
                    </button>
                    <button id="btnResetFilter" class="btn btn-primary mt-2 end-0 w-100" type="button">
                        Reset
                    </button>
                </div>
            </div>
                <!-- View More button -->
                <!-- <a href="{{ url_for('item.items') }}" class="btn btn-secondary mt-3">View More</a>
            </div> -->
        </div>
        <div class="col-sm-12 col-lg-9">            
            <div class="row my-4">
                {% for item in items %}         
                    {% set posted_by_user = item.user_id == current_user.id %}
                    {% set saved_by_user = item.saved_by_user %}
                    
                    {{ item_card.render_item_card(item, posted_by_user, saved_by_user) }}
                {% endfor %}
            </div>
        </div>
    </div>

    {{ pagination.render_pagination('item.items', items, filter) }}
{% endblock %}

{% block js_scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/item/items.js') }}"></script>
{% endblock %}