<!-- TODO: Update this with good UI -->

{% extends 'base.html' %}

{% block title %} {{ item.title }} {% endblock %}

{% block css_styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/item/items.css') }}">
{% endblock %}

{% import 'item/macros/item-request.html' as item_request %}

{% block content %}
<div class="card mt-4">
    <div class="row">
        <div class="col-sm-12 col-lg-5">
            <div id="carouselExampleIndicators" class="carousel slide">
                <div class="carousel-inner">
                    {% for photo in item.photos %}
                        <div class="carousel-item {{ 'active' if loop.first }}">
                            <img src="{{ photo.photo_url }}" class="d-block w-100" style="height: 400px;" alt="image" onerror="this.src='/static/img/not-found.webp'">
                        </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <!-- <span class="material-symbols-outlined" style="font-size: 50px; color: black;">chevron_left</span> -->
                    <i class="fa-solid fa-chevron-left text-black"></i>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <!-- <span class="material-symbols-outlined" style="font-size: 50px; color: black;">chevron_right</span> -->
                    <i class="fa-solid fa-chevron-right text-black "></i>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-sm-12 col-lg-7 bg-light">
            <h5 class="card-title">{{ item.title }}</h5>
            <p class="card-text">{{ item.description }}</p>
            <p class="card-text">$ {{ "%.2f"|format(item.price) }}</p> <!-- Format price assuming item.price is a numeric type -->
            <p class="card-text">Posted: {{ item.create_time.strftime('%Y-%m-%d %H:%M') if item.create_time }}</p> <!-- Format date and time -->
            <p class="card-text">Condition: {{ item.used }}</p>
            <p class="card-text">Category: {{ item.category.name }}</p>
            <p class="card-text">City: {{ item.city.name }}, {{ item.city.state.name }}</p>
            <p class="card-text">Posted by: {{ item.user.first_name + " " + item.user.last_name }}</p>
            {% if current_user.id != item.user.id %}
                {{ item_request.render_item_request_button(item, already_requested) }}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block modals %}
    {{ super() }}
    {{ item_request.render_item_request_modal(item, already_requested) }}
{% endblock %}

{% block js_scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/item/item-request.js') }}"></script>
{% endblock %}