{% macro render_item_card(item) %}
    <div class="card">
        <div class="row">
            <div class="col-5">
                <img class="card-img" src="{{ item.thumb_photo_url }}" alt="Item Image" onerror="this.src='/static/img/not-found.webp'" style="max-height: 400px; width: 100%; object-fit: cover;">
            </div>
            <div class="col-7">
                <h5 class="card-title">{{ item.title }}</h5>
                <p class="card-text"><strong>Description:</strong> {{ item.description }}</p>
                <p class="card-text"><strong>Price:</strong> ${{ '%.2f' | format(item.price) }}</p>
                <p class="card-text"><strong>Condition:</strong> {{ 'Used' if item.used else 'New' }}</p>
                <p class="card-text"><strong>Category:</strong> {{ item.category.name }}</p>
                <p class="card-text"><strong>Location:</strong> {{ item.city.name }}, {{ item.city.state.name }}</p>
                <p class="card-text"><strong>Posted on:</strong> {{ item.create_time.strftime('%Y-%m-%d %H:%M') }}</p>
            </div>
        </div>
    </div>
{% endmacro %}
