{% macro render_item_card(item) %}
    <div class="card">
        <div class="row">
            <div class="col-5">
                <img class="card-img" src="{{ item.thumb_photo_url }}" alt="saved image" onerror="this.src='/static/img/not-found.webp'" style="max-height: 400px;">
            </div>
            <div class="col-7">
                <h5 class="card-title">{{ item.title }}</h5>
                <p class="card-text">{{ item.description }}</p>
                <p class="card-text">{{ item.price }}</p>
                <p class="card-text">{{ item.used }}</p>
                <p class="card-text">{{ item.category.name }}</p>
                <p class="card-text">{{ item.city.name }} {{ item.city.state.name }}</p>
                <p class="card-text">Posted at {{ item.create_time }}</p>
            </div>
        </div>
    </div>
{% endmacro %}
