.hero-image {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 45vh; /* 维持之前的设置 */
  width: 100vw; /* 使用视口宽度单位确保覆盖整个屏幕宽度 */
  background-image: url('../img/top.jpg');
  background-size: cover;
  background-position: center 10%;
  margin-left: -50vw; /* 将左边距设置为负的一半视口宽度 */
  left: 50%; /* 并将元素向左偏移50% */
  right: 50%; /* 并将元素向右偏移50% */
  margin-bottom: 50px; /* 添加底部外边距 */
}

.overlay-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.back-to-top {
  /* Here you can add styles for your back to top button if needed */
}
