.form-control {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  color: white;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}

.card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: none; /* 移除边框，使其更加现代化 */
  margin-top: 20px;
}

.card-body {
  padding: 20px;
}

.card.border-info {
  border-left: 5px solid #17a2b8; /* 给卡片添加一条左边的颜色条，增加视觉效果 */
}

.container {
  max-width: 960px; /* 或其他适合的宽度 */
  margin: 0 auto; /* 水平居中 */
  padding: 15px; /* 适当的内边距 */
}
