.nav-dropdown-container {
  display: flex;
  flex-direction: row;
}

#navSearchContainer {
  display: flex;
  flex-direction: row;
  margin-right: 8px;
}

#navRightContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profile-initials {
  width: 40px;
  height: 40px;
  background-color: var(--primary-color);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
