{% macro render_pagination(route_name, pagination, filter) %}

{% set filter_str = filter.filter_to_url_for_string() %}
{% set filter_and = "" if filter_str == "" else "&" %}

<nav class="pb-4 pt-4" aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link {{ 'disabled' if not pagination.has_prev }}" href="{{ url_for(route_name, page=pagination.prev_num) }}{{ filter_and }}{{ filter_str }}">Previous</a>
    </li>
    {% for page_index in pagination.iter_pages() %}
        {% if page_index %}
            {% if page_index == pagination.page %}
                <li class="page-item">
                    <a class="page-link disabled">
                        {{ page_index }}
                    </a>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for(route_name, page=page_index) }}{{ filter_and }}{{ filter_str }}">
                        {{ page_index }}
                    </a>
                </li>
            {% endif %}
        {% else %}
            <li class="page-item">
                <a class="page-link disabled">
                    ...
                </a>
            </li>
        {% endif %}
    {% endfor %}
    <li class="page-item">
      <a class="page-link {{ 'disabled' if not pagination.has_next }}" href="{{ url_for(route_name, page=pagination.next_num) }}{{ filter_and }}{{ filter_str }}">Next</a>
    </li>
  </ul>
</nav>
{% endmacro %}