{% extends 'base.html' %}

{% block title %}
    Profile
{% endblock %}

{% block css_styles %}
    {{ super() }}
{% endblock %}

{% block content %} 
    <!-- TODO: Need update, this is here for testing -->
    <div class="row mt-5">
        <div class="col-lg-3">
            {% block left_side_nav %}
                <div class="card">
                    <ul class="list-group">
                        <a class="list-group-item list-group-item-action text-end {{ 'active' if active_page == 'me' else '' }}" href="/me">Profile</a>
                        <a class="list-group-item list-group-item-action text-end {{ 'active' if active_page == 'me/saved' else '' }}" href="/me/saved">Saved</a>
                        <a class="list-group-item list-group-item-action text-end {{ 'active' if active_page == 'me/items' else '' }}" href="/me/items">Items</a>
                        <a class="list-group-item list-group-item-action text-end {{ 'active' if active_page == 'me/bids' else '' }}" href="/me/bids">Bids</a>
                        <a class="list-group-item list-group-item-action text-end {{ 'active' if active_page == 'me/send-requests' else '' }}" href="/me/send-requests">Send Requests</a>
                        <a class="list-group-item list-group-item-action text-end {{ 'active' if active_page == 'me/received-requests' else '' }}" href="/me/received-requests">Received Requests</a>
                    </ul>
                </div>
            {% endblock %}
        </div>
        <div class="col-lg-9">
            {% block right_content %}
                right
            {% endblock %}
        </div>
    </div>
{% endblock %}s

{% block js_scripts %}
    {{ super() }}
{% endblock %}