{% extends 'me/me-base.html' %}

{% block title %} Profile {% endblock %}

{% set active_page = "me" %}

{% block right_content %}

    <div class="card border-info">
        <div class="card-body">
            <form action="" method="post" class="p-3">
    {{ form.csrf_token() }}
    <div class="form-group">
        {{ form.email.label(class="form-label") }}
        {{ form.email(class="form-control") }} 
    </div>
    <div class="form-group">
        {{ form.first_name.label(class="form-label") }}
        {{ form.first_name(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.last_name.label(class="form-label") }}
        {{ form.last_name(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.phone_number.label(class="form-label") }}
        {{ form.phone_number(class="form-control") }}
    </div> 
    <div class="form-group">
        {{ form.address.label(class="form-label") }}
        {{ form.address(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.city.label(class="form-label") }}
        {{ form.city(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.submit(class="btn btn-success")}}
    </div>
</form>

        </div>
    </div>
{% endblock %}