{% extends 'me/me-base.html' %}

{% set active_page = "me/received-requests" %}

{% import 'macros/pagination.html' as pagination %}
{% import 'me/macros/received-request.html' as macro_received_request %}

{% block title %}
    Received Requests
{% endblock %}

{% block right_content %}
    <div class="gap-3 row">
        {% for request in received_requests %}
            <div class="card received-request-card p-0" data-item-request-id="{{ request.id }}">
                <div class="card-header">
                    <h5 class="card-title">{{ request.item.title }}</h5>
                </div>
                <div class="card-body border-bottom">
                    <div class="row">
                        <div class="col-2">
                            <p>Sender:</p>
                        </div>
                        <div class="col-10">
                            <p>{{ request.sender.first_name + " " + request.sender.last_name }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <p>Offer Amount:</p>
                        </div>
                        <div class="col-10">
                            <p>{{ request.offer_amount }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <p>Message:</p>
                        </div>
                        <div class="col-10">
                            <p>{{ request.sender_message }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <p>Date:</p>
                        </div>
                        <div class="col-10">
                            <p>{{ request.create_time.strftime("%Y-%m-%d %H:%M:%S") }}</p>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-2">
                            <p>Status:</p>
                        </div>
                        <div class="col-10">
                            <p>{{ "Pending" if request.accepted is none else "Accepted" if request.accepted else "Rejected"}}</p>
                        </div>
                    </div>
                    {% if request.accepted is not none %}
                        <div class="row">
                            <div class="col-2">
                                <p>Response:</p>
                            </div>
                            <div class="col-10">
                                <p>{{ request.receiver_message }}</p>
                            </div>
                        </div>
                    {% endif %}
                </div>
                {% if request.accepted is none %}
                    <div class="card-footer text-end">
                        <!-- <button class="btn btn-primary">Respond</button> -->
                        {{ macro_received_request.render_received_request_button(request, False) }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    {{ pagination.render_pagination('me.saved', received_requests, filter) }}
{% endblock %}

{% block js_scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/me/received-request.js') }}"></script>
{% endblock %}

{% block modals %}
    {{ super() }}
    {{ macro_received_request.render_received_request_modal() }}
{% endblock %}
