{% extends 'me/me-base.html' %}

{% set active_page = "me/saved" %}

{% import 'me/macros/saved-item-card.html' as saved_item_card %}
{% import 'macros/pagination.html' as pagination %}

{% block title %}
    Saved
{% endblock %}

{% block css_styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/me/saved.css') }}">
{% endblock %}

{% block right_content %}
    <div class="gap-3 row">
        {% for item in saved_items %}
            {{ saved_item_card.render_saved_item_card(item) }}
        {% endfor %}
    </div>
    {{ pagination.render_pagination('me.saved', saved_items, filter) }}
{% endblock %}

{% block js_scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/me/saved.js') }}"></script>
{% endblock %}