{% extends 'me/me-base.html' %}

{% set active_page = "me/send-requests" %}

{% import 'macros/pagination.html' as pagination %}

{% block title %}
    Send Requests
{% endblock %}

{% block right_content %}
    <div class="gap-3 row">
        {% for request in send_requests %}
            <div class="card p-0" data-item-request-id="{{ request.id }}">
                <div class="card-header {{ "bg-primary" if request.accepted is none else "bg-success" if request.accepted else "bg-danger"}}">
                    <a class="link-underline link-underline-opacity-0" href="{{ url_for('item.item', item_id=request.item.id) }}">
                        <h5 class="card-title text-white">{{ request.item.title }}</h5>
                    </a>
                </div>
                <div class="card-body border-bottom">
                    <dl class="row mb-0">
                        <dt class="col-2 mb-2">
                            Offer Amount:
                        </dt>
                        <dd class="col-10">
                            {{ request.offer_amount }}
                        </dd>
                        <dt class="col-2 mb-2">
                            Message:
                        </dt>
                        <dd class="col-10">
                            {{ request.sender_message }}
                        </dd>
                        <dt class="col-2 mb-2">
                            Date:
                        </dt>
                        <dd class="col-10">
                            {{ request.create_time.strftime("%Y-%m-%d %H:%M:%S") }}
                        </dd>
                    </dl>
                </div>
                <div class="card-body">
                    <dl class="row mb-0">
                        <dt class="col-2 mb-2">
                            Receiver:
                        </dt>
                        <dd class="col-10">
                            {{ request.receiver.first_name + " " + request.receiver.last_name }}
                        </dd>
                        <dt class="col-2 mb-2">
                            Status:
                        </dt>
                        <dd class="col-10">
                            <span class="{{ "text-primary" if request.accepted is none else "text-success" if request.accepted else "text-danger"}}">
                                {{ "Pending" if request.accepted is none else "Accepted" if request.accepted else "Rejected"}}
                            </span>
                        </dd>
                        {% if request.accepted is not none %}
                            <dt class="col-2 mb-2">
                                Response:
                            </dt>
                            <dd class="col-10">
                                {{ request.receiver_message }}
                            </dd>
                        {% endif %}
                    </dl>
                </div>
            </div>
        {% endfor %}
    </div>
    {{ pagination.render_pagination('me.saved', send_requests, filter) }}
{% endblock %}