body {
    background-color: #f8f7f6e8;
    color: #333;
    font-family: 'Arial', sans-serif;
}

.container, .image-container, .filter-refine {
    padding: 20px;
}

.image-container {
    width: 100%;
    height: 45vh;
    overflow: hidden;
    position: relative;
}

.img-fluid {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

/* 文字样式 */
h1, p {
    color: #0056b3;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 2.5em;
}

p {
    font-size: 1.2em;
    margin-top: 0;
    padding: 10px;
    border-radius: 10px;
}

/* 下拉菜单样式 */
#myMarketDropdown + .dropdown-menu {
    min-width: 300px;
    right: -14px;
    left: auto;
}

/* 时间和天气信息样式 */
#currentTime, #weather p {
    color: #0056b3;
    font-size: 1.2rem;
    margin-bottom: 5px;
    text-align: center;
}

#weather a {
    display: block;
    margin-bottom: 5px;
    color: #ff5722;
    font-style: italic;
}

/* 通知区域样式 */
#notificationArea {
    border: 1px solid #ccc;
    background-color: #f4cc7c;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    font-size: 1.1rem;
    text-align: center;
    max-width: 700px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#notificationArea p {
    margin: 5px 0;
    padding: 10px;
    background-color: #f4cc7c;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: background-color 0.3s;
}

/* Navbar Styles */
.navbar {
    background-color: #82baf6; /* 主色调为Bootstrap的蓝色 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 轻微阴影效果增加深度感 */
    border: none; /* 去除默认边框 */
    padding: 0.8rem 1rem; /* 调整内边距 */
    font-size: 1.1rem; /* 字体大小调整 */
    font-family: 'Arial', sans-serif; /* 字体风格统一 */
    color: #007bff; /* 字体颜色为白色 */
}

.nav-link, .navbar-brand {
    color: rgb(76, 81, 234); /* 链接颜色 */
    background-color: #e9c266; /* 背景颜色 */
    padding: 10px 15px; /* 增加内边距 */
    margin: 5px; /* 增加外边距 */
    transition: color 0.3s ease; /* 平滑过渡效果 */
    border: 2px solid white; /* 添加白色边框 */
    border-radius: 50px; /* 边框圆角 */
}

.nav-link:hover, .navbar-brand:hover {
    color: #007bff; /* 鼠标悬停时文字颜色改变 */
    background-color: white; /* 鼠标悬停时背景颜色变为白色 */
    border-color: #007bff; /* 鼠标悬停时边框颜色变为蓝色 */
}

/* 导航栏下拉菜单样式 */
.navbar .dropdown-menu {
    background-color: #007bff; /* 下拉菜单背景颜色与导航栏一致 */
    border: none; /* 去除边框 */
    box-shadow: 0 6px 10px rgba(0,0,0,0.1); /* 添加阴影 */
}

.dropdown-item {
    color: white; /* 下拉项字体颜色 */
    transition: background-color 0.2s; /* 背景色变化的过渡效果 */
}

.dropdown-item:hover {
    background-color: #659fdd; /* 鼠标悬停时的背景颜色 */
    color: white; /* 鼠标悬停时字体颜色保持不变 */
}

/* 导航栏折叠按钮样式 */
.navbar-toggler {
    background-color: #0056b3; /* 按钮背景色 */
    border: none; /* 去除边框 */
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); /* 更改图标颜色 */
}


/* 卡片样式 */
.card {
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    min-height: 400px; /* Set a minimum height for consistency */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensures content alignment */
    height: 550px; /* Standardize height */
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.card-img-top {
    width: 100%;
    height: 180px; /* Fixed height for all card images */
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.card-body {
    padding: 15px;
    text-align: center;
    flex-grow: 1; /* Ensures the body expands to fill available space */
}

.card-title {
    color: #333;
    font-size: 1.5rem; /* Increased size for visibility */
    margin-bottom: 10px; /* Adds space below the title */
}

.card-text {
    color: #666;
    font-size: 1.25rem; /* Slightly larger text for readability */
}

/* 按钮样式 */
.btn-primary, .btn-success {
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    font-weight: bold;
    background-color: #007bff;
    border: none;
    
}

.btn-primary:hover, .btn-success:hover {
    background-color: #0056b3;
    opacity: 0.8;
}

/* Countdown Card Specific Styles */
.countdown-card {
    position: relative;
    text-align: center;
    color: white;
    background-color: #007BFF; /* Bootstrap primary color */
    border-color: #007BFF;
}

.countdown-card .card-img-top {
    opacity: 0.3; /* Lighten the image so text is readable */
}

.countdown-card .card-body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

/* Search and Input Styles */
.search-bar-container {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    width: 50%;
    box-shadow: 0px 0px 20px 1px #ffffff;
}

.search-input {
    flex-grow: 1;
    padding: 10px 15px;
    border: 2px solid #0056b3;
    border-right: none;
    border-radius: 30px 0 0 30px;
    font-size: 25px;
    font-weight: 1000;
    color: black;
    
}

.search-button {
    background-color: greenyellow;
    color: black;
    border: none;
    padding: 0 10px;
    border-radius: 0 30px 30px 0;
    font-size: 25px;
    font-weight: 1000;
    box-shadow: 0px 0px 20px 1px greenyellow;
    transition: background-color 0.2s, box-shadow 0.2s, font-size 0.2s;
    
}

.search-button:hover {
    background-color: green;
    box-shadow: 0px 0px 20px 1px green;
    font-size: 30px;
    cursor: pointer;
}



/* Adjust the input field styles */
input[type="text"], input[type="email"], input[type="number"], select.form-select {
    width: 100%; /* Adjustable percentage for controlling width */
    margin: auto; /* Centering */
    display: block; /* Ensures each input is on a new line */
}


/* Input and Select Styling */
input[type="text"], input[type="email"], input[type="number"], select.form-select {
    width: 50%; /* Adjustable percentage for controlling width */
    margin: auto; /* Centering */
    display: block; /* Ensures each input is on a new line */
}

/* Hero Image */
.hero-image {
    background-image: url('image4.jpg'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    padding: 50px 20px;
}

/* Filter & Refine Styles */
.filter-refine {
    background-color: #f2cfb2; /* 白色背景 */
    padding: 20px; /* 内边距 */
    border-radius: 12px; /* 边框圆角 */
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.06); /* 更细腻的阴影效果 */
    margin-bottom: 30px; /* 下边距 */
    border: 1px solid #eaeaea; /* 轻微的边框增加边缘定义 */
}

.filter-refine .form-control, .filter-refine .form-select {
    border: 1px solid #e0e0e0; /* 更轻的边框颜色 */
    border-radius: 8px; /* 增加圆角 */
    margin-bottom: 15px; /* 增加间距 */
    padding: 10px 15px; /* 增加填充以改善触感 */
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05); /* 内嵌阴影增加深度感 */
}

.filter-refine .btn-primary {
    width: 100%; /* 按钮宽度与输入字段匹配 */
    border-radius: 8px; /* 按钮圆角 */
    background-color: #0056b3; /* 按钮颜色 */
    color: #ffffff; /* 文字颜色 */
    padding: 12px 20px; /* 按钮内边距 */
    border: none; /* 去掉边框 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 给按钮添加阴影 */
    font-weight: bold; /* 加粗字体 */
    width: 100%; /* Button width matches input field */
}



/* Back to top button */
.back-to-top {
    display: none; /* Hidden by default */
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999; /* Set a high z-index to bring the button to the top layer */
}

.back-to-top img {
    display: block;
    width: 70px;
    height: 70px;
}

/* Go button style adjustments */
.filter-refine .btn-primary {
    width: auto; /* Auto width */
    padding: 8px 16px; /* Padding adjusted for balance */
    margin: 10px auto; /* Centered horizontally */
    display: block; /* Block display for centering */
}

/* Contact Us Message textarea size adjustments */
#contactMessage {
    width: 100%; /* Width to match the container */
    max-width: 500px; /* Max width to fit content */
    margin: 0 auto; /* Centered horizontally */
    display: block; /* Block display ensures proper alignment */
    

}
